@page
@model SuParty.Pages.Product.ProductDataModel
@using Microsoft.Extensions.Localization
@{

}
@inject IStringLocalizer<SuParty.Pages.Product.ProductDataModel> Localizer

<div class="container mt-4">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            @for (int i = 0; i < Model.ProductData.Images.Count; i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="@Model.ProductData.Images[i]" class="d-block w-100" alt="Slide @(i + 1)" style="max-height: 400px; object-fit: cover;">
                </div>
            }
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
         
            @Model.ProductData.Name
            @Model.ProductData.Introduction
            @Model.ProductData.Price

            <button id="AddShoppingCart">加入購物車</button>
            <button id="Buy">直接購買</button>
        </div>
    </div>
</div>

<script>    
    
    document.getElementById('Buy').addEventListener('click', function () {
        AddShoppingCart(true);
    });

    document.getElementById('AddShoppingCart').addEventListener('click', function () {
        AddShoppingCart(false);
    });

    function AddShoppingCart(redirect) {
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id'); // 讀取 'Id' 的值
           sendRequest(_baseUrlAddAction('AddShoppingCart'),{ id: id})
            .then(data => {
            if (data.success) {
                if (redirect) {
                    // 跳轉到指定頁面
                        window.location.href = "../Shop/ShoppingCart";
                }
            } else {
                alert(data.message); // 顯示錯誤信息
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

</script>