@page
@model SuParty.Pages.RealEstate.HouseDataEditModel
@using Microsoft.Extensions.Localization
@using SuParty.Data.DataModel.RealEstate
@using SuParty.Data.DataModel.RealEstate.Enum
@{
    Layout = "_Layout";
}
@inject IStringLocalizer<SuParty.Pages.RealEstate.HouseDataModel> Localizer
<h1>上傳資料</h1>

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="ImagesUpload">上傳多個圖片</label>
        <input type="file" class="form-control" id="ImagesUpload" name="ImagesUpload" multiple accept="image/*" />
    </div>

    <input type="hidden" id="Id" name="Id" value="@Model.HouseData?.Id" />

    <div class="form-group">
        <label for="Name">名稱</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.HouseData?.Name" />
    </div>

    <div class="form-group">
        <label for="Introduction">簡介</label>
        <textarea class="form-control" id="Introduction" name="Introduction">@Model.HouseData?.Introduction</textarea>
    </div>

    <div class="form-group">
        <label for="Price">價格</label>
        <input type="number" class="form-control" id="Price" name="Price" value="@Model.HouseData?.Price" />
    </div>

    <div class="form-group">
        <label for="VideoUrl">影片 URL</label>
        <input type="text" class="form-control" id="VideoUrl" name="VideoUrl" value="@Model.HouseData?.VideoUrl" />
    </div>
    <div class="form-group">
        <label for="City">城市</label>
        <select id="City" name="City" class="form-control">
            @foreach (var city in Enum.GetValues(typeof(CityEnum)))
            {
                <option value="@city" @((CityEnum)city == Model.HouseData.City ? "selected" : "")>@city</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="Address">地址</label>
        <input type="text" class="form-control" id="Address" name="Address" value="@Model.HouseData?.Address" />
    </div>

    <div class="form-group">
        <label for="Space">空間大小(坪)</label>
        <input type="number" class="form-control" id="Space" name="Space" value="@Model.HouseData?.Space" />
    </div>

    <div class="form-group">
        <label for="RoomCount">房間數</label>
        <input type="number" class="form-control" id="RoomCount" name="RoomCount" value="@Model.HouseData?.RoomCount" />
    </div>

    <div class="form-group">
        <label for="RestroomCount">衛浴數</label>
        <input type="number" class="form-control" id="RestroomCount" name="RestroomCount" value="@Model.HouseData?.RestroomCount" />
    </div>

    <div class="form-group">
        <label for="LivingRoomCount">客廳數</label>
        <input type="number" class="form-control" id="LivingRoomCount" name="LivingRoomCount" value="@Model.HouseData?.LivingRoomCount" />
    </div>

    <div class="form-group">
        <label for="ParkingSpaceCount">車位數</label>
        <input type="number" class="form-control" id="ParkingSpaceCount" name="ParkingSpaceCount" value="@Model.HouseData?.ParkingSpaceCount" />
    </div>

    <div class="form-group">
        <label for="ParkingSpace">車位大小(坪)</label>
        <input type="number" class="form-control" id="ParkingSpace" name="ParkingSpace" value="@Model.HouseData?.ParkingSpace" />
    </div>

    <div class="form-group">
        <label for="Floor">樓層</label>
        <input type="number" class="form-control" id="Floor" name="Floor" value="@Model.HouseData?.Floor" />
    </div>
    <div class="form-group">
        <label for="Floor">總樓層</label>
        <input type="number" class="form-control" id="TotalFloor" name="TotalFloor" value="@Model.HouseData?.TotalFloor" />
    </div>
    <div class="form-group">
        <label for="Floor">分潤比例</label>
        <input type="number" class="form-control" id="Floor" name="Floor" value="@Model.HouseData?.ProfitSharing" />
    </div>

    <button type="submit" class="btn btn-primary">儲存</button>
    <button id="Delete">刪除</button>
</form>
<!-- 全局錯誤顯示 -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger">
        <strong>There were some errors with your submission:</strong>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<script>

    document.getElementById('Delete').addEventListener('click', function () {
        Delete();
    });

    function Delete() {
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id'); // 讀取 'Id' 的值
        sendRequest(_baseUrlAddAction('Delete'), { id: id })
            .then(data => {
            if (data.success) {      
                // 跳轉到指定頁面
                window.location.href = "../RealEstate/HouseList";
            } else {
                alert(data.message); // 顯示錯誤信息
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

</script>